


body{
    margin: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}
header h2{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: xx-large;
    top: 0%;
  
}
.nj{
    margin: 50px;
    text-decoration: none;
}
nav a {
   margin-top: 50px;
   padding-top: 200px;
   text-decoration: none;
   margin: 10px;
   font-size: x-large;
   font-weight: 600;
   color: rgb(61, 4, 177);

}
h1{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: red;
font-size: xx-large;
text-align: center;

}

header img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
}
.ak{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
}

.card-img-top{
     width: 400px;
    height: 350px;
}
h4{
        color: red;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin-top: 50px;
}
.popo{
    text-align: center;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.az{
    color: rgb(209, 16, 16);
    text-decoration: none;
    margin-top: 40px;
    margin: 20px;
    font-size: x-large;
}
a{
    margin-top:20 ;
}
.del{
    font-size: xx-large;
    padding: 20px;
    margin-bottom: 20px;
    background-image: url(/merlin_171784251_9c40574a-d83f-415e-8838-414d655d9b83-threeByTwoLargeAt2X.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.kk{
    margin-right: 100px;
}
.co{
    background-color: rgb(164, 161, 161) ;
    color: white;
    text-align: center;
    padding: 2px;
    border-top: 2px solid rgb(251, 92, 92);
}
.em{
    text-align: right;
}